ServiciosWebHotel/Connected Services/HotelService/HotelService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerReservaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reservaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerReservaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerReservaPorIdResult" type="tns:Reserva" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Reserva">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReservaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HabTipo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Noches" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioNoche" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Checkin" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Checkout" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerReservaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerReservaPorId" />
  </wsdl:message>
  <wsdl:message name="ObtenerReservaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerReservaPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelService1Soap">
    <wsdl:operation name="ObtenerReservaPorId">
      <wsdl:input message="tns:ObtenerReservaPorIdSoapIn" />
      <wsdl:output message="tns:ObtenerReservaPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelService1Soap" type="tns:HotelService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerReservaPorId">
      <soap:operation soapAction="http://tempuri.org/ObtenerReservaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelService1Soap12" type="tns:HotelService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerReservaPorId">
      <soap12:operation soapAction="http://tempuri.org/ObtenerReservaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService1">
    <wsdl:port name="HotelService1Soap" binding="tns:HotelService1Soap">
      <soap:address location="https://localhost:44325/HotelService1.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelService1Soap12" binding="tns:HotelService1Soap12">
      <soap12:address location="https://localhost:44325/HotelService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>