ServiciosWebHotel/Connected Services/ReservaServiceReference/ReservaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44325/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosWebHotel" />
  <xs:element name="AgregarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiciosWebHotel" minOccurs="0" name="nuevaReserva" nillable="true" type="q1:Reserva2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>